*.DS_Store
*.mp4
*.mp3
*.mpeg
*Adobe Premiere Pro Video Previews*
*Adobe Premiere Pro Audio Previews*
*Adobe Premiere Pro Captured Video*
*Adobe Premiere Pro Auto-Save*
*Kidkanevil - Ewok feat Ocean Wisdom (Original Mix)_data*